@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.form {
  padding: 38px 26.43px;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr 0.5fr;
  grid-template-columns: repeat(2, 1fr);
  max-width: 363px;
  min-width: 280px;
  gap: 17.7px;
  font-family: "Inter", sans-serif;
  border: 1px solid #e9ecef;
  box-sizing: border-box;
  border-radius: 4px;
  background: #ffffff;
}

.form input,
select {
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 26px;
  border-radius: 8px;
  background: #f8f9fa;
  box-sizing: border-box;
  padding: 8px 16px;
  height: 52.80000305175781px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  width: 20px;
  /* url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=")
    no-repeat center center;
  position: absolute;
  content: "OLÃ";
  color: #000000;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1em;
  width: 50px;
  border-left: 1px solid #bbb;
  opacity: 0.5; shows Spin Buttons per default (Chrome >= 39) */
}

.icon {
  position: absolute;
  top: 50%;
  right: 11px;
  font-size: 18px;
  color: #868e96;
  opacity: 0.6;
  transform: translate(0, 30%);
}

.form-control {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
}

.form-control small {
  font-size: 12px;
  line-height: 20px;
  color: #868e96;
}

.form-description,
.form input[type="submit"] {
  width: 100%;
  grid-column: span 2;
  max-width: 314px;
}

.form-description input {
  background: #f8f9fa;
}

.form-amount {
  position: relative;
}

.form-amount input,
.form-type select {
  width: 100%;
  border-radius: 8px;
  padding: 0px, 16px, 0px, 16px;
}

.form input[type="submit"] {
  background: #fd377e;
  border: 2px solid #fd377e;
  color: #ffffff;
  font-size: 16px;
  line-height: 19.36px;
}

@media screen and (min-width: 729px) {
  .form {
    min-width: 340px;
  }
}
