.navbar {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}

.navbar img {
  max-width: 122.68px;
  height: 19.53px;
}

.navbar-itens {
  width: 100%;
  padding: 0 26.43px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-login {
  width: 100%;
  max-width: 64px;
}
