@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 562px;
  align-items: center;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
}

.filters-container h3,
.filters-container ul {
  margin: 0;
  list-style: none;
}

.filters-container__list {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.filter-button:focus {
  background: #fd377e;
  color: #ffffff;
}

.transactions-list {
  padding-left: 0;
  display: flex;
  gap: 10px;
  list-style: none;
  flex-direction: column;
}

.transactions-list li img {
  width: 100%;
}

.fake-transactions__title {
  color: #868e96;
  font-family: "Nunito", sans-serif;
}

.card-empty {
  width: 100%;
  height: 87px;
  max-width: 562px;
}

@media screen and (min-width: 426px) {
  .filters-container {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
}
