@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

.transaction {
  display: grid;
  max-width: 560px;
  height: 87px;
  background: #f8f9fa;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 16px;
  gap: 0 10px;
  grid-template-rows: auto 27px;
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
  grid-template-columns: 5fr 1.5fr 0.5fr;
}

.recipe {
  border-left: 5px solid #03b898;
}

.expense {
  border-left: 2px solid #fd377e;
}

.transaction-description {
  line-height: 30px;
  margin: 0;
}

.transaction-amount {
  font-size: 12px;
  line-height: 22px;
}

.transaction-type {
  font-size: 12px;
  color: #868e96;
  line-height: 22px;
  margin-bottom: 25px;
}

.transaction-btn__delete {
  width: 100%;
  height: 22px;
  border: none;
  max-width: 22px;
  cursor: pointer;
  background: #e9ecef;
  border-radius: 2.46154px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../public/trash.svg");
}
